.l-header {
    /*height: 80px;*/
    background: url(../img/header-bg.png) no-repeat center center;
    background-size: cover;
    z-index: 1;
}
.is-open {
    display: block;
}
/*.nav {
 &__menu {
  &-item {

  }
 }
 &-link {
    
 }
}*/